<img src="../static/logo.png" alt="datio" style="width: 200px "align="right"/>

## Pandas

Lo primero que debemos hacer es importar la libreria de Pandas:

In [1]:
import pandas as pd

Por convenio (de la comunidad de desarrollares) se usa "pd" como alias de la librería Pandas.

## Crear tu propio dataset

#### Series

El primer ejemplo que vamos a poner va a ser el de definir una estructura de datos "Series", un array de datos unidimensional con idexación. Las "Series" se definen de la siguiente manera:  

**serie = pd.Series(data, index=index)**

In [2]:
pd.Series?

Es decir, que en el primer parámetro le indicamos los datos del array y en el segundo parámetro los índices (en el caso de no indicar los índices de forma explícita, se generarán los índides de forma automático empezando desde el valor cero). Veamos un ejemplo de como crear una estructura "Series" con la alineación del Real Madrid, en el que tenemos como 'data' sus nombres y como índice su dorsal:

In [3]:
realMadridPlayers = pd.Series(
    ['Navas', 'Carvajal', 'Pepe', 'Ramos', 'Varane', 'Nacho', 'Marcelo', 'Coentrao', 'Danilo', 'Kroos', 'James',
     'Casemiro','Kovacic', 'Modric', 'Asensio', 'Isco','Ronaldo', 'Benzema', 'Bale', 'Lucas Vazquez', 'Mariano', 'Morata'],
    index=[1, 2, 3, 4, 5, 6, 12, 15, 23, 8, 10, 14, 16, 19, 20, 22, 7, 9, 11, 17, 18, 21])

print("Plantilla del Real Madrid 2017: \n%s" %realMadridPlayers)

Plantilla del Real Madrid 2017:
1             Navas
2          Carvajal
3              Pepe
4             Ramos
5            Varane
6             Nacho
12          Marcelo
15         Coentrao
23           Danilo
8             Kroos
10            James
14         Casemiro
16          Kovacic
19           Modric
20          Asensio
22             Isco
7           Ronaldo
9           Benzema
11             Bale
17    Lucas Vazquez
18          Mariano
21           Morata
dtype: object

También podemos crearnos una estructura de datos "Series" a partir de una lista o de un diccionario. Si la construimos a partir de una lista nos pondrá los índices por defecto y si lo creamos a partir de un diccionario, pondrá como índices las claves. Vamos a ver a continuación un ejemplo de como crear una Serie a partir de un diccionario y además vamos a ver como insertar en esta serie un nuevo elemento:

In [5]:
columnsDict = {1: 'IMP_FACTUZM', 2: 'IMP_FACTUZT', 3: 'IMP_FACTUZA', 4: 'IMP_OPERAM', 5:'IMP_OPERAT', 6: 'IMP_OPERAA'}

#>
prefixSerie = pd.Series(columnsDict)

# Insert new element: Add over index 7 the value:'XTI_PRELSTD'

#>
prefixSerie[7] = 'XTI_PRELSTD'

In [6]:
# Access to index with value i: Acces the element with index 1

#>
prefixSerie[1]

'IMP_FACTUZM'

Nota: El índice puede ser de tipo String. Veamos un ejemplo:

In [5]:
codigoISO2 = pd.Series(['Afganistán','Åland, Islas','Albania','Alemania','Andorra','Angola','Anguila',
                        'Antártida','Antigua y Barbuda','Arabia Saudita','Argelia'],
                       index=['AF','AX','AL','DE','AD','AO','AI','AQ','AG','SA','DZ'])

In [6]:
# Access to index with value 'DE'

#>
codigoISO2['DE']

'Alemania'

#### Dataframe

In [7]:
from pandas import DataFrame

Un Datafre es una estructura de datos similar a una tabla de una base de datos relacional, una tabla de excel, etc y como tal se pueden hacer muchas operaciones y como las que se harían con consultas a tablas de bases de datos o en excel.  
Para construir un DataFrame se puede hacer de diferentes formas, como por ejemplo a partir de una lista, de un diccionario, de una Serie, de otro DataFrame, leyendo una tabla excel, csv, etc.  
Nota: también se pueden añadir índices al dataframe, un indice es como una primary key sobre una tabla sql, con la excepción de que un indice puede tener valores duplicados.

In [10]:
# From dictionary:

data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}

#>
frame = pd.DataFrame(data)
frame

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

In [10]:
# From matix and columns :

columnsDF = ['cod_ofictrn','imp_trans','cod_user','cod_npuesto','cod_persona']
list_listas = [[1557,5000,'U044181','02',5133579],[2585,13000,'E018157','03',23783944],[2626,19000,'UA16687','01',12024444]]

#>
DF_1 = pd.DataFrame(list_listas,
                  columns = columnsDF)
DF_1

   cod_ofictrn  imp_trans cod_user cod_npuesto  cod_persona
0         1557       5000  U044181          02      5133579
1         2585      13000  E018157          03     23783944
2         2626      19000  UA16687          01     12024444

In [26]:
# From matix, columns and index:

indexDF = ['A','A','C']

#>
DF_2 = pd.DataFrame(list_listas,
                  columns = columnsDF,
                   index = indexDF)
DF_2

   cod_ofictrn  imp_trans cod_user cod_npuesto  cod_persona
A         1557       5000  U044181          02      5133579
A         2585      13000  E018157          03     23783944
C         2626      19000  UA16687          01     12024444

Usaremos el método **loc** para acceder por índice, o bien **ix**:

In [12]:
DF_2.loc?

In [32]:
# Access to value with index 1:

#>
DF_2.loc['A']

# or 

#>

DF_2.ix['A']

   cod_ofictrn  imp_trans cod_user cod_npuesto  cod_persona
A         1557       5000  U044181          02      5133579
A         2585      13000  E018157          03     23783944

Si queremos acceder por el elemento en la posición i usaremos **iloc**, tambień **ix** únicamente si el índice no es de tipo entero.

In [33]:
# Access to the second element:

#>
DF_2.iloc[1]

# or 

#>
DF_2.ix[1]

cod_ofictrn        2585
imp_trans         13000
cod_user        E018157
cod_npuesto          03
cod_persona    23783944
Name: A, dtype: object

Nota: Ver las diferencias de: loc, iloc e ix  en : "Indexing and Selecting data": http://pandas.pydata.org/pandas-docs/stable/indexing.html

Para mergear listas usaremos la función **zip**:

In [17]:
cod_ofictrnList = [1557,2585,2626]
imp_transList = [5000,13000,19000]
cod_userList = ['U044181','E018157','UA16687']

In [18]:
zip?

In [19]:
# Create dataset as result to merge: cod_ofictrnList, imp_transList and cod_userList. 

#>
dataset = list(zip(cod_ofictrnList,imp_transList,cod_userList))
dataset

[(1557, 5000, 'U044181'), (2585, 13000, 'E018157'), (2626, 19000, 'UA16687')]

In [19]:
# Create a dataframe with dataset before and columns: 'cod_ofictrn','imp_trans','cod_user':

#>
DF_3 = pd.DataFrame(data = dataset, columns =  ['cod_ofictrn','imp_trans','cod_user'])
DF_3

   cod_ofictrn  imp_trans cod_user
0         1557       5000  U044181
1         2585      13000  E018157
2         2626      19000  UA16687

Para exportar el dataframe a un fichero csv, usaremos **to_csv**

In [34]:
DF_1.to_csv?

In [37]:
# Export a dataframe in fonder "data"

#>
filename = #> '../data/my_csv.csv'
DF_1.to_csv(filename,index=False,header=True)

Borramos el fichero creado, para borrar usaremos **remove**:

In [36]:
#!/usr/bin/python
import os

## delete only if file exists ##
if os.path.exists(filename):
    #>
    os.remove(filename)
else:
    print("Sorry, I can not remove %s file." % filename)

## Entrada de datos

La API de pandas I/O es un conjunto de las mejores funciones de acceso de lectura como pd.read_csv () que por lo general devuelven un objeto pandas.
>Fichero de datos:   read_csv   ,  read_table  
Datos estructurados:  read_hdf  ,  read_json  
Excel:  read_excel

### read_excel

In [42]:
pd.read_excel?

In [41]:
# Read excel file: tablas_sinfo.xlsx located in data.

#>
pd.read_excel('../data/tablas_sinfo.xlsx', sheetname='SINFO').head()

  PETICIONARIO     VISTA                    DESCRIPCIÓN ÁMBITO
0        SINFO  VSFMABJC     PLASTICO TARJETA CREDITO_M  SINFO
1        SINFO  VSFMABJD      PLASTICO TARJETA DEBITO_M  SINFO
2        SINFO  VSFMAHAR  CONT DE MVTOS CUENTAS PERSO_M  SINFO
3        SINFO  VSFMAHOM     FACTURACION EN COMERCIOS_M  SINFO
4        SINFO  VSFMAHSS  CONTRATO DE SEGUROS SOCIALE_M  SINFO

### read_csv

dataframe = pd.**read_csv**("filepath",sep=', ', delimiter=None,header='infer'...)  
Por defecto toma la primera fila como la cabecera con los nombres del dataset.

In [24]:
pd.read_csv?

In [43]:
# Read csv file: Base_evolucion_fondos.csv located in data.

#>
base_evolucion_path = "../data/Base_evolucion_fondos.csv"
df = pd.read_csv(base_evolucion_path, header= None)
df.head()

,0,1,2,3,4,5,6,7
0,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512
1,E000170,NaN,0,0,0,0,0,0
2,E000170,34,0,0,0,0,0,0
3,E000170,35,0,0,0,0,0,0
4,E000170,36,0,0,0,0,0,0

In [50]:
# Read csv file: Base_evolucion_fondos.csv located in data with header

#>
df = pd.read_csv(base_evolucion_path)
df.head()

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512
0,E000170,NaN,0.00,0.00,0.00,0.00,0.00,0.00
1,E000170,34.0,0.00,0.00,0.00,0.00,0.00,0.00
2,E000170,35.0,0.00,0.00,0.00,0.00,0.00,0.00
3,E000170,36.0,0.00,0.00,0.00,0.00,0.00,0.00
4,E000170,37.0,11684.42,11673.35,11675.79,11687.85,11696.99,11687.41

In [51]:
# Type of the df object:

#>
type(df)

pandas.core.frame.DataFrame

In [62]:
# List column names:

#>
list(df)

#or 

#>
df.columns.values

array(['COD_USUARIO', 'COD_SEGLOBAL', 'fondos_201507', 'fondos_201508',
       'fondos_201509', 'fondos_201510', 'fondos_201511', 'fondos_201512'], dtype=object)

In [58]:
# Show first few rows

#>
df.head()

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512
0,E000170,NaN,0.00,0.00,0.00,0.00,0.00,0.00
1,E000170,34.0,0.00,0.00,0.00,0.00,0.00,0.00
2,E000170,35.0,0.00,0.00,0.00,0.00,0.00,0.00
3,E000170,36.0,0.00,0.00,0.00,0.00,0.00,0.00
4,E000170,37.0,11684.42,11673.35,11675.79,11687.85,11696.99,11687.41

In [59]:
# Show last few rows

#>
df.tail()

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512
39720,UZ44403,51.0,45291.79,42150.19,40250.91,43582.43,44290.30,42851.89
39721,UZ44403,52.0,9724.66,8899.26,8446.44,9407.03,9664.82,9243.44
39722,UZ44403,55.0,83105.26,79572.65,77208.25,119590.83,120249.18,149363.74
39723,UZ44403,56.0,64385.96,61047.44,58773.43,61692.29,61958.25,60707.55
39724,UZ44403,61.0,6733.52,6749.17,6749.56,6748.73,6747.17,6738.10

In [91]:
# Data type of each column

#>
df.dtypes

COD_USUARIO       object
COD_SEGLOBAL     float64
fondos_201507    float64
fondos_201508    float64
fondos_201509    float64
fondos_201510    float64
fondos_201511    float64
fondos_201512    float64
new_column        object
dtype: object

In [34]:
# Print index

#>
df.index

RangeIndex(start=0, stop=39725, step=1)

In [35]:
# Return number of columns and rows of dataframe

#>
df.shape

(39725, 8)

In [36]:
#  Number of rows

#>
len(df.index)

39725

In [37]:
# Number of columns

#>
len(df.columns)

8

In [38]:
# Basic statistics

#>
df.describe()

,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512
count,36090.000000,3.972500e+04,3.972500e+04,3.972500e+04,3.972500e+04,3.972500e+04,3.972500e+04
mean,47.497839,3.943715e+05,3.841948e+05,3.752733e+05,3.869263e+05,3.884522e+05,3.814765e+05
std,9.083982,1.590689e+06,1.547671e+06,1.507742e+06,1.552754e+06,1.550784e+06,1.518714e+06
min,31.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,37.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,51.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,55.000000,6.218213e+04,6.210763e+04,6.135791e+04,6.585860e+04,6.825067e+04,6.901023e+04
max,75.000000,5.061299e+07,5.008203e+07,4.961765e+07,4.980997e+07,4.817754e+07,4.596495e+07

In [110]:
#Getting information and basic calculations

#>
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39725 entries, 0 to 39724
Data columns (total 13 columns):
COD_USUARIO      39725 non-null object
COD_SEGLOBAL     36090 non-null float64
fondos_201507    39725 non-null float64
fondos_201508    39725 non-null float64
fondos_201509    39725 non-null float64
fondos_201510    39725 non-null float64
fondos_201511    39725 non-null float64
fondos_201512    39725 non-null float64
new_column       39725 non-null object
concatenate      39725 non-null object
concatenated     39725 non-null object
a                39725 non-null object
b                39725 non-null object
dtypes: float64(7), object(6)
memory usage: 3.9+ MB

In [65]:
#  Slices the rows via [], select rows with index from 0 to 2

#>
df[:3]

   # or

#>
df[0:3]
    
    # or
    
#>    
df.iloc[:3]

    # or
    
#>    
df.ix[:3]

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512
0,E000170,NaN,0.0,0.0,0.0,0.0,0.0,0.0
1,E000170,34.0,0.0,0.0,0.0,0.0,0.0,0.0
2,E000170,35.0,0.0,0.0,0.0,0.0,0.0,0.0
3,E000170,36.0,0.0,0.0,0.0,0.0,0.0,0.0

In [78]:
# Label slicing, slice over rows and columns; the same as above and ontly COD_SEGLOBAL

#>
df.loc[0:3,['COD_SEGLOBAL']]

   COD_SEGLOBAL
0           NaN
1          34.0
2          35.0
3          36.0

In [ ]:
# Slice rows and columns, select rows[3:6] colummsn [0,3]

#>
df.iloc[3:6,[0,3]]

In [ ]:
# Get a value explicitly by position, get row:1, column 1

#>
df.iloc[1,1]

# or

#>
df.iat[1,1]

In [112]:
# Get a value explicitly by label, get labels 1, 'COD_SEGLOBAL'

#>
df.at[1,'COD_SEGLOBAL']

34.0

In [70]:
# Select one column, which yields a Series. Select COD_SEGLOBAL:

#>
df[["COD_SEGLOBAL"]].head()

# or

#>
df.COD_SEGLOBAL.head()

0     NaN
1    34.0
2    35.0
3    36.0
4    37.0
Name: COD_SEGLOBAL, dtype: float64

In [71]:
# Select two columns. Select: COD_USUARIO and COD_SEGLOBAL

#>
df[["COD_USUARIO","COD_SEGLOBAL"]].head()

  COD_USUARIO  COD_SEGLOBAL
0     E000170           NaN
1     E000170          34.0
2     E000170          35.0
3     E000170          36.0
4     E000170          37.0

In [79]:
# Select with condition, using a single columnn's values to select data
# Filter for the condition COD_SEGLOBAL>34

#>
df[df['COD_SEGLOBAL'] > 34].head()

     # or
#>    
df.query("COD_SEGLOBAL > 34").head()

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512
2,E000170,35.0,0.00,0.00,0.00,0.00,0.00,0.00
3,E000170,36.0,0.00,0.00,0.00,0.00,0.00,0.00
4,E000170,37.0,11684.42,11673.35,11675.79,11687.85,11696.99,11687.41
5,E000170,42.0,67014.43,65051.89,63686.01,65917.87,43472.36,23488.17
6,E000170,43.0,160260.96,154240.41,151735.51,157772.90,159883.25,155395.69

In [74]:
# Filter with double condition: 
# Filter for the conditions: COD_SEGLOBAL=34 AND fondos_201507 >0
#>
df[(df['COD_SEGLOBAL']==34)  & (df["fondos_201507"]>0)].head()

# or

#>
df.query("COD_SEGLOBAL == 34 & fondos_201507 >0").head()

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512
66,E000839,34.0,811363.27,780156.92,759107.87,787793.77,791198.14,778252.87
149,E018300,34.0,629302.80,611500.83,552623.06,555489.94,559612.44,602340.80
185,E018550,34.0,30715.54,29126.15,28050.06,29438.58,29567.54,28969.27
191,E018722,34.0,51854.54,51821.42,0.00,0.00,0.00,0.00
250,E018759,34.0,99975.88,91711.71,35975.30,39824.39,40686.49,39330.41

In [77]:
# Filter with double condition: 
# Filter for the conditions: COD_SEGLOBAL=34 OR fondos_201507 =0

#>
df[(df['COD_SEGLOBAL']==34)  | (df["fondos_201507"]==0)].head()

    # or

#>
df.query("COD_SEGLOBAL == 34 | fondos_201507 ==0").head()

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512
0,E000170,NaN,0.0,0.0,0.0,0.0,0.0,0.0
1,E000170,34.0,0.0,0.0,0.0,0.0,0.0,0.0
2,E000170,35.0,0.0,0.0,0.0,0.0,0.0,0.0
3,E000170,36.0,0.0,0.0,0.0,0.0,0.0,0.0
7,E000170,51.0,0.0,0.0,0.0,0.0,0.0,0.0

In [76]:
# Filter using isin() method for filtering
# Select data if 'COD_SEGLOBAL' isin: 35.0, 39.0, 41.0 

#>
df[df['COD_SEGLOBAL'].isin([35.0, 39.0, 41.0])].head()

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512
2,E000170,35.0,0.00,0.00,0.00,0.00,0.00,0.00
67,E000839,35.0,1099182.08,1055838.46,844188.23,873946.38,878437.93,925242.25
126,E018089,35.0,0.00,0.00,0.00,0.00,0.00,0.00
138,E018296,41.0,0.00,0.00,0.00,0.00,0.00,0.00
150,E018300,35.0,1003572.54,979154.74,952984.13,966369.91,970343.66,958739.18

In [47]:
# Unique COD_SEGLOBAL

#>
df["COD_SEGLOBAL"].unique()

array([ nan,  34.,  35.,  36.,  37.,  42.,  43.,  51.,  52.,  53.,  54.,
        55.,  56.,  61.,  62.,  41.,  33.,  63.,  31.,  71.,  32.,  73.,
        72.,  75.,  74.])

In [58]:
# Maximum of the "fondos_201507" column

#>
df.fondos_201507.max()

50612990.479999997

In [71]:
# Maximum fondos_201507 by COD_USUARIO

#>
df.groupby("COD_USUARIO").agg({"fondos_201507":"max"}).reset_index()

    #or
#>
df.groupby("COD_USUARIO")["fondos_201507"].max().reset_index()

     COD_USUARIO  fondos_201507
0        E000170      160260.96
1        E000501     5903439.20
2        E000531     6401503.37
3        E000545     3255015.86
4        E000558     1908020.96
5        E000575     1453531.75
6        E000766     8327876.90
7        E000839     1099182.08
8        E001223     3056661.14
9        E017652     6915466.66
10       E017834      808608.33
11       E017873     1492884.69
12       E017941      109361.27
13       E018089       10009.93
14       E018296     2764433.00
15       E018300     1003572.54
16       E018439     3051151.10
17       E018543      606262.17
18       E018550      294480.74
19       E018722      261436.57
20       E018723      153495.34
21       E018732     3302696.27
22       E018734     5489820.23
23       E018745     7285409.80
24       E018755      141768.86
25       E018759     5001295.61
26       E018784      510155.60
27       E018790     1274507.10
28       E018795      794137.19
29       E018800       17433.76
...          ...            ...
3922     UH40047    10902451.10
3923     UH40316     3880476.11
3924     UH40883     5980956.12
3925     UH43321    22311047.95
3926     UH43528     1196787.10
3927     UH43680           0.00
3928     UH43792     1494260.35
3929     UH43873      321857.94
3930     UH44085      489089.69
3931     UH44160      724939.54
3932     UH44430     1562346.62
3933     UH44502      175061.93
3934     UH44759     7338139.67
3935     UH44770     1432125.35
3936     UH44831     1989441.83
3937     UH44832       10480.94
3938     UH44869       30153.46
3939     UH44891      198516.12
3940     UH44909     1225897.03
3941     UH44912      334488.49
3942     UH44915      941750.81
3943     UH44919     1300119.67
3944     UH45303       94300.63
3945     UH50061     4947593.50
3946     UH50141     3599289.45
3947     UH50179      275407.67
3948     UH74179       30463.12
3949     UN20939    13210393.98
3950     UN30630    23325331.62
3951     UZ44403     3172490.53

[3952 rows x 2 columns]

In [72]:
# Mean fondos_201507 by COD_USUARIO, and rename column result to : Mean_fondos_201507

#>
df.groupby(["COD_USUARIO","COD_SEGLOBAL"]).agg({"fondos_201507":"mean"}).rename(columns={"fondos_201507":"Mean_fondos_201507"})

                          Mean_fondos_201507
COD_USUARIO COD_SEGLOBAL
E000170     34.0                        0.00
            35.0                        0.00
            36.0                        0.00
            37.0                    11684.42
            42.0                    67014.43
            43.0                   160260.96
            51.0                        0.00
            52.0                        0.00
            53.0                        0.00
            54.0                        0.00
            55.0                        0.00
            56.0                        0.00
            61.0                        0.00
E000501     42.0                  1143726.44
            43.0                  5903439.20
            51.0                    49750.59
            52.0                        0.00
            55.0                     3180.03
            56.0                    45203.51
            61.0                        0.00
E000531     42.0                  2327130.74
            43.0                  6401503.37
            51.0                        0.00
            53.0                        0.00
            55.0                   106028.29
            56.0                    26587.35
            61.0                        0.00
E000545     36.0                   164499.26
            42.0                   785227.00
            43.0                  3255015.86
...                                      ...
UH74179     52.0                        0.00
            54.0                        0.00
UN20939     32.0                        0.00
            33.0                        0.00
            34.0                        0.00
            35.0                   508109.57
            36.0                        0.00
            41.0                  2221679.67
            42.0                 13210393.98
            43.0                  1953925.87
            51.0                        0.00
            55.0                    14840.10
            56.0                   129460.02
            61.0                    31451.05
UN30630     35.0                        0.00
            36.0                    25887.66
            41.0                  5779519.18
            42.0                 23325331.62
            43.0                  2896554.74
            51.0                        0.00
            55.0                    38538.53
            56.0                    25393.17
            61.0                    13677.78
UZ44403     42.0                  3172490.53
            43.0                  2538994.41
            51.0                    45291.79
            52.0                     9724.66
            55.0                    83105.26
            56.0                    64385.96
            61.0                     6733.52

[36090 rows x 1 columns]

In [63]:
# Remove a column, delete 'COD_SEGLOBAL'

df1 = df.copy()
#>

df1.drop('COD_SEGLOBAL', 1).head() 

#or
df1 = df.copy()
#>
df1.drop(df1.columns[1], 1).head() 

# or
df1 = df.copy()
#>
del df1['COD_SEGLOBAL']
df1.columns

,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512
0,NaN,0.00,0.00,0.00,0.00,0.00,0.00
1,34.0,0.00,0.00,0.00,0.00,0.00,0.00
2,35.0,0.00,0.00,0.00,0.00,0.00,0.00
3,36.0,0.00,0.00,0.00,0.00,0.00,0.00
4,37.0,11684.42,11673.35,11675.79,11687.85,11696.99,11687.41

In [35]:
# Remove multiple columns, delete 'COD_SEGLOBAL' and 'fondos_201507'

df1 = df.copy()
#>
df1.drop(df1.columns[[1, 2]], axis=1, inplace=True)
df1
    # or
df1 = df.copy()
#>
df1.drop(['COD_SEGLOBAL','fondos_201507'], axis=1, inplace=True)
df1

,COD_USUARIO,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512
0,E000170,0.00,0.00,0.00,0.00,0.00
1,E000170,0.00,0.00,0.00,0.00,0.00
2,E000170,0.00,0.00,0.00,0.00,0.00
3,E000170,0.00,0.00,0.00,0.00,0.00
4,E000170,11673.35,11675.79,11687.85,11696.99,11687.41
5,E000170,65051.89,63686.01,65917.87,43472.36,23488.17
6,E000170,154240.41,151735.51,157772.90,159883.25,155395.69
7,E000170,0.00,0.00,0.00,0.00,0.00
8,E000170,0.00,0.00,0.00,0.00,0.00
9,E000170,0.00,0.00,0.00,0.00,0.00
10,E000170,0.00,0.00,0.00,0.00,0.00
11,E000170,0.00,0.00,0.00,0.00,0.00
12,E000170,0.00,0.00,0.00,0.00,0.00
13,E000170,0.00,0.00,0.00,0.00,0.00
14,E000501,154831.31,151801.95,154821.40,154964.26,153389.92
15,E000501,1152113.04,1134674.76,1200680.02,1205097.50,1190889.62
16,E000501,5859182.06,5619079.85,5728629.77,5747048.30,5674373.83
17,E000501,46070.23,43520.47,47119.29,47466.83,45981.72
18,E000501,0.00,0.00,0.00,0.00,0.00
19,E000501,4480.64,4373.56,36093.07,36502.79,36075.67
20,E000501,43990.00,43203.73,100018.89,101300.60,99788.03
21,E000501,0.00,0.00,0.00,0.00,0.00
22,E000531,58109.30,55963.78,58196.52,58049.08,81840.54
23,E000531,2429578.67,2394626.68,2495563.76,2562909.47,2437240.14
24,E000531,6246756.81,6194036.22,6394802.59,6414458.12,6421029.54
25,E000531,0.00,0.00,0.00,0.00,0.00
26,E000531,0.00,0.00,0.00,0.00,25523.54
27,E000531,103552.50,102453.96,105456.27,28459.63,33538.69
28,E000531,25193.19,9231.63,9698.31,9736.40,35065.99
29,E000531,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...
39695,UN20939,0.00,29351.83,31912.09,32921.98,31588.61
39696,UN20939,0.00,0.00,0.00,0.00,0.00
39697,UN20939,0.00,0.00,0.00,0.00,0.00
39698,UN20939,0.00,0.00,0.00,0.00,0.00
39699,UN20939,494952.03,489380.61,506028.14,511592.39,503126.80
39700,UN20939,0.00,0.00,0.00,0.00,0.00
39701,UN20939,1866663.89,1598197.26,1665208.97,1880360.44,1933777.49
39702,UN20939,13136779.46,12160833.62,12731967.03,12576414.58,12872718.29
39703,UN20939,1916066.11,1837067.03,1915004.09,1828223.59,1797593.99
39704,UN20939,0.00,0.00,0.00,0.00,0.00
39705,UN20939,13605.51,12552.69,14135.59,14456.72,13625.66
39706,UN20939,127825.76,126843.50,131807.26,133252.77,132170.99
39707,UN20939,31233.79,31070.99,31280.26,31902.58,33374.68
39708,UN30630,0.00,0.00,0.00,0.00,0.00
39709,UN30630,25871.12,25854.40,25863.79,25868.35,25841.92
39710,UN30630,5746349.61,5688564.48,5755571.78,5716715.45,5711361.19
39711,UN30630,22619439.45,22158029.16,22928461.62,22848696.00,22449628.07
39712,UN30630,2835333.27,2774716.13,2845697.02,2862000.64,2880338.58
39713,UN30630,0.00,0.00,0.00,0.00,0.00
39714,UN30630,38250.82,38481.57,38942.34,39354.14,38900.83
39715,UN30630,24794.20,24321.34,24771.15,30120.85,29834.95
39716,UN30630,13336.68,13065.83,13321.08,13326.78,13192.80
39717,UZ44403,86449.35,138533.24,213178.74,212651.64,210164.89
39718,UZ44403,3072344.65,3008000.72,3125223.13,3152193.42,3303371.24
39719,UZ44403,2678786.57,2611285.11,2627792.53,2749906.80,2749296.57
39720,UZ44403,42150.19,40250.91,43582.43,44290.30,42851.89
39721,UZ44403,8899.26,8446.44,9407.03,9664.82,9243.44
39722,UZ44403,79572.65,77208.25,119590.83,120249.18,149363.74
39723,UZ44403,61047.44,58773.43,61692.29,61958.25,60707.55
39724,UZ44403,6749.17,6749.56,6748.73,6747.17,6738.10

In [84]:
df1.merge?

In [73]:
# Merge two dataframes. Merge df1 and df2 (outer join) on Ciudad and Provincia

data1 = {'Ciudad':['Trujillo', 'Las Pedroñeras', 'Navaluenga', 'Navaluenga'], 'Provincia':['Caceres', 'Cuenca', 'Avila', 'Albacete'], 'Poblacion':[10000, 2000, 400, 40000]}

data2 = {'Ciudad':['Trujillo', 'Las Pedroñeras', 'Navaluenga', 'Navaluenga'], 'Provincia':['Caceres', 'Cuenca', 'Avila', 'Albacete'], 'Poblacion':[12000, 1800, 380, 30000]}

df1 = pd.DataFrame(data1)

df2 = pd.DataFrame(data2)

#>
diff = df1.merge(df2, how='outer', on=['Ciudad', 'Provincia'], suffixes=['_2000', '_1970'])
diff

           Ciudad  Poblacion_2000 Provincia  Poblacion_1970
0        Trujillo           10000   Caceres           12000
1  Las Pedroñeras            2000    Cuenca            1800
2      Navaluenga             400     Avila             380
3      Navaluenga           40000  Albacete           30000

In [74]:
# Substract. Create column Diferencia 1970-2000 with  Poblacion_2000 - Poblacion_1970 

#>
diff['Diferencia 1970-2000'] = diff['Poblacion_2000'] - diff['Poblacion_1970']

diff

,Ciudad,Poblacion_2000,Provincia,Poblacion_1970,Diferencia 1970-2000
0,Trujillo,10000,Caceres,12000,-2000
1,Las Pedroñeras,2000,Cuenca,1800,200
2,Navaluenga,400,Avila,380,20
3,Navaluenga,40000,Albacete,30000,10000

In [76]:
# Call functions for grouping. From df, create 'Count_201507_0' column to count fondos_201507=0.0

#>
df.assign(Eq0 = (df.fondos_201507 == 0.0)).groupby("Eq0").agg({"Eq0":"count"}).rename(columns ={"Eq0":"Count_201507_0"})

       Count_201507_0
Eq0
False           15971
True            23754

In [77]:
# Return the first occurance of COD_SEGLOBAL == 37.0

#>
df.query("COD_SEGLOBAL == 37.0")[:1]

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512
4,E000170,37.0,11684.42,11673.35,11675.79,11687.85,11696.99,11687.41

In [64]:
# Return the last occurance of COD_SEGLOBAL == 37.0

#>
df.query("COD_SEGLOBAL == 37.0")[-1:]

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512
39669,UH50141,37.0,0.0,0.0,0.0,0.0,0.0,0.0

In [65]:
# Order in ascending order by fondos_201507 show top 6

#>
df.sort_values(by='fondos_201507').tail(6)

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512
13094,U084525,42.0,28094421.69,27088555.17,26551854.35,27408597.92,27600691.43,27157830.87
32983,U507626,42.0,28937953.28,28405796.79,27029486.90,27286799.47,27117331.04,26614780.84
27653,U224174,42.0,30323622.80,29298590.67,28316992.22,29763001.90,29958146.14,29411963.16
26599,U220043,42.0,32706296.65,31311523.98,31211364.45,33857520.17,35353067.41,34837797.38
21230,U098194,41.0,36135799.24,36481821.01,35557226.28,36119304.92,36083203.97,35601321.24
7001,U074939,41.0,50612990.48,50082028.12,49617645.70,49809970.95,48177541.14,45964949.26

In [78]:
# Order in descending order by fondos_201507 show top 6

#>
df.sort_values(by='fondos_201507', ascending = False).tail(6)

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512
23301,U102096,37.0,0.0,0.0,0.0,0.0,0.0,0.0
23300,U102096,36.0,0.0,0.0,0.0,0.0,0.0,0.0
23299,U102096,35.0,0.0,0.0,0.0,0.0,0.0,0.0
23298,U102093,61.0,0.0,0.0,0.0,0.0,0.0,0.0
9792,U080002,33.0,0.0,0.0,0.0,0.0,0.0,0.0
0,E000170,NaN,0.0,0.0,0.0,0.0,0.0,0.0

In [81]:
# Order in different order: "fondos_201507" in descending and "COD_USUARIO" in ascending

#>
df.sort_values(by=['fondos_201507','COD_USUARIO'], ascending = [False,True]).tail(6)

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512,new_column
39697,UN20939,33.0,0.0,0.0,0.0,0.0,0.0,0.0,Constant
39698,UN20939,34.0,0.0,0.0,0.0,0.0,0.0,0.0,Constant
39700,UN20939,36.0,0.0,0.0,0.0,0.0,0.0,0.0,Constant
39704,UN20939,51.0,0.0,0.0,0.0,0.0,0.0,0.0,Constant
39708,UN30630,35.0,0.0,0.0,0.0,0.0,0.0,0.0,Constant
39713,UN30630,51.0,0.0,0.0,0.0,0.0,0.0,0.0,Constant

In [82]:
# Rename columns, "COD_USUARIO":"user_code" and "COD_SEGLOBAL":"global_seg_code"

#>
df.rename(columns = {"COD_USUARIO":"user_code","COD_SEGLOBAL":"global_seg_code"}).tail()

,user_code,global_seg_code,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512,new_column
39720,UZ44403,51.0,45291.79,42150.19,40250.91,43582.43,44290.30,42851.89,Constant
39721,UZ44403,52.0,9724.66,8899.26,8446.44,9407.03,9664.82,9243.44,Constant
39722,UZ44403,55.0,83105.26,79572.65,77208.25,119590.83,120249.18,149363.74,Constant
39723,UZ44403,56.0,64385.96,61047.44,58773.43,61692.29,61958.25,60707.55,Constant
39724,UZ44403,61.0,6733.52,6749.17,6749.56,6748.73,6747.17,6738.10,Constant

In [80]:
# Add column 'new_column' with string 'Constant'

#>
df['new_column'] = 'Constant'
df

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512,new_column
0,E000170,NaN,0.00,0.00,0.00,0.00,0.00,0.00,Constant
1,E000170,34.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
2,E000170,35.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
3,E000170,36.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
4,E000170,37.0,11684.42,11673.35,11675.79,11687.85,11696.99,11687.41,Constant
5,E000170,42.0,67014.43,65051.89,63686.01,65917.87,43472.36,23488.17,Constant
6,E000170,43.0,160260.96,154240.41,151735.51,157772.90,159883.25,155395.69,Constant
7,E000170,51.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
8,E000170,52.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
9,E000170,53.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
10,E000170,54.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
11,E000170,55.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
12,E000170,56.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
13,E000170,61.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
14,E000501,NaN,158772.14,154831.31,151801.95,154821.40,154964.26,153389.92,Constant
15,E000501,42.0,1143726.44,1152113.04,1134674.76,1200680.02,1205097.50,1190889.62,Constant
16,E000501,43.0,5903439.20,5859182.06,5619079.85,5728629.77,5747048.30,5674373.83,Constant
17,E000501,51.0,49750.59,46070.23,43520.47,47119.29,47466.83,45981.72,Constant
18,E000501,52.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
19,E000501,55.0,3180.03,4480.64,4373.56,36093.07,36502.79,36075.67,Constant
20,E000501,56.0,45203.51,43990.00,43203.73,100018.89,101300.60,99788.03,Constant
21,E000501,61.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
22,E000531,NaN,60958.04,58109.30,55963.78,58196.52,58049.08,81840.54,Constant
23,E000531,42.0,2327130.74,2429578.67,2394626.68,2495563.76,2562909.47,2437240.14,Constant
24,E000531,43.0,6401503.37,6246756.81,6194036.22,6394802.59,6414458.12,6421029.54,Constant
25,E000531,51.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
26,E000531,53.0,0.00,0.00,0.00,0.00,0.00,25523.54,Constant
27,E000531,55.0,106028.29,103552.50,102453.96,105456.27,28459.63,33538.69,Constant
28,E000531,56.0,26587.35,25193.19,9231.63,9698.31,9736.40,35065.99,Constant
29,E000531,61.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
...,...,...,...,...,...,...,...,...,...
39695,UN20939,NaN,0.00,0.00,29351.83,31912.09,32921.98,31588.61,Constant
39696,UN20939,32.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
39697,UN20939,33.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
39698,UN20939,34.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
39699,UN20939,35.0,508109.57,494952.03,489380.61,506028.14,511592.39,503126.80,Constant
39700,UN20939,36.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
39701,UN20939,41.0,2221679.67,1866663.89,1598197.26,1665208.97,1880360.44,1933777.49,Constant
39702,UN20939,42.0,13210393.98,13136779.46,12160833.62,12731967.03,12576414.58,12872718.29,Constant
39703,UN20939,43.0,1953925.87,1916066.11,1837067.03,1915004.09,1828223.59,1797593.99,Constant
39704,UN20939,51.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
39705,UN20939,55.0,14840.10,13605.51,12552.69,14135.59,14456.72,13625.66,Constant
39706,UN20939,56.0,129460.02,127825.76,126843.50,131807.26,133252.77,132170.99,Constant
39707,UN20939,61.0,31451.05,31233.79,31070.99,31280.26,31902.58,33374.68,Constant
39708,UN30630,35.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
39709,UN30630,36.0,25887.66,25871.12,25854.40,25863.79,25868.35,25841.92,Constant
39710,UN30630,41.0,5779519.18,5746349.61,5688564.48,5755571.78,5716715.45,5711361.19,Constant
39711,UN30630,42.0,23325331.62,22619439.45,22158029.16,22928461.62,22848696.00,22449628.07,Constant
39712,UN30630,43.0,2896554.74,2835333.27,2774716.13,2845697.02,2862000.64,2880338.58,Constant
39713,UN30630,51.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
39714,UN30630,55.0,38538.53,38250.82,38481.57,38942.34,39354.14,38900.83,Constant
39715,UN30630,56.0,25393.17,24794.20,24321.34,24771.15,30120.85,29834.95,Constant
39716,UN30630,61.0,13677.78,13336.68,13065.83,13321.08,13326.78,13192.80,Constant
39717,UZ44403,NaN,89477.81,86449.35,138533.24,213178.74,212651.64,210164.89,Constant
39718,UZ44403,42.0,3172490.53,3072344.65,3008000.72,3125223.13,3152193.42,3303371.24,Constant
39719,UZ44403,43.0,2538994.41,2678786.57,2611285.11,2627792.53,2749906.80,2749296.57,Constant
39720,UZ44403,51.0,45291.79,42150.19,40250.91,43582.43,44290.30,42851.89,Constant
39721,UZ44403,52.0,9724.66,8899.26,8446.44,9407.03,9664.82,9243.44,Constant
39722,UZ44403,55.0,83105.26,79572.65,77208.25,119590.83,120249.18,149363.74,Constant
39723,UZ44403,56.0,64385.96,61047.44,58773.43,61692.29,61958.25,60707.55,Constant
39724,UZ44403,61.0,6733.52,6749.17,6749.56,6748.73,6747.17,6738.10,Constant

In [75]:
# Add a column 'COD_SEG_34', with boolean values depending on COD_SEGLOBA==34.0

#>
df['COD_SEG_34'] = df.COD_SEGLOBAL == 34.0
df

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512,new_column,COD_SEG_34
0,E000170,NaN,0.00,0.00,0.00,0.00,0.00,0.00,Constant,False
1,E000170,34.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,True
2,E000170,35.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,False
3,E000170,36.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,False
4,E000170,37.0,11684.42,11673.35,11675.79,11687.85,11696.99,11687.41,Constant,False
5,E000170,42.0,67014.43,65051.89,63686.01,65917.87,43472.36,23488.17,Constant,False
6,E000170,43.0,160260.96,154240.41,151735.51,157772.90,159883.25,155395.69,Constant,False
7,E000170,51.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,False
8,E000170,52.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,False
9,E000170,53.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,False
10,E000170,54.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,False
11,E000170,55.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,False
12,E000170,56.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,False
13,E000170,61.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,False
14,E000501,NaN,158772.14,154831.31,151801.95,154821.40,154964.26,153389.92,Constant,False
15,E000501,42.0,1143726.44,1152113.04,1134674.76,1200680.02,1205097.50,1190889.62,Constant,False
16,E000501,43.0,5903439.20,5859182.06,5619079.85,5728629.77,5747048.30,5674373.83,Constant,False
17,E000501,51.0,49750.59,46070.23,43520.47,47119.29,47466.83,45981.72,Constant,False
18,E000501,52.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,False
19,E000501,55.0,3180.03,4480.64,4373.56,36093.07,36502.79,36075.67,Constant,False
20,E000501,56.0,45203.51,43990.00,43203.73,100018.89,101300.60,99788.03,Constant,False
21,E000501,61.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,False
22,E000531,NaN,60958.04,58109.30,55963.78,58196.52,58049.08,81840.54,Constant,False
23,E000531,42.0,2327130.74,2429578.67,2394626.68,2495563.76,2562909.47,2437240.14,Constant,False
24,E000531,43.0,6401503.37,6246756.81,6194036.22,6394802.59,6414458.12,6421029.54,Constant,False
25,E000531,51.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,False
26,E000531,53.0,0.00,0.00,0.00,0.00,0.00,25523.54,Constant,False
27,E000531,55.0,106028.29,103552.50,102453.96,105456.27,28459.63,33538.69,Constant,False
28,E000531,56.0,26587.35,25193.19,9231.63,9698.31,9736.40,35065.99,Constant,False
29,E000531,61.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,False
...,...,...,...,...,...,...,...,...,...,...
39695,UN20939,NaN,0.00,0.00,29351.83,31912.09,32921.98,31588.61,Constant,False
39696,UN20939,32.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,False
39697,UN20939,33.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,False
39698,UN20939,34.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,True
39699,UN20939,35.0,508109.57,494952.03,489380.61,506028.14,511592.39,503126.80,Constant,False
39700,UN20939,36.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,False
39701,UN20939,41.0,2221679.67,1866663.89,1598197.26,1665208.97,1880360.44,1933777.49,Constant,False
39702,UN20939,42.0,13210393.98,13136779.46,12160833.62,12731967.03,12576414.58,12872718.29,Constant,False
39703,UN20939,43.0,1953925.87,1916066.11,1837067.03,1915004.09,1828223.59,1797593.99,Constant,False
39704,UN20939,51.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,False
39705,UN20939,55.0,14840.10,13605.51,12552.69,14135.59,14456.72,13625.66,Constant,False
39706,UN20939,56.0,129460.02,127825.76,126843.50,131807.26,133252.77,132170.99,Constant,False
39707,UN20939,61.0,31451.05,31233.79,31070.99,31280.26,31902.58,33374.68,Constant,False
39708,UN30630,35.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,False
39709,UN30630,36.0,25887.66,25871.12,25854.40,25863.79,25868.35,25841.92,Constant,False
39710,UN30630,41.0,5779519.18,5746349.61,5688564.48,5755571.78,5716715.45,5711361.19,Constant,False
39711,UN30630,42.0,23325331.62,22619439.45,22158029.16,22928461.62,22848696.00,22449628.07,Constant,False
39712,UN30630,43.0,2896554.74,2835333.27,2774716.13,2845697.02,2862000.64,2880338.58,Constant,False
39713,UN30630,51.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,False
39714,UN30630,55.0,38538.53,38250.82,38481.57,38942.34,39354.14,38900.83,Constant,False
39715,UN30630,56.0,25393.17,24794.20,24321.34,24771.15,30120.85,29834.95,Constant,False
39716,UN30630,61.0,13677.78,13336.68,13065.83,13321.08,13326.78,13192.80,Constant,False
39717,UZ44403,NaN,89477.81,86449.35,138533.24,213178.74,212651.64,210164.89,Constant,False
39718,UZ44403,42.0,3172490.53,3072344.65,3008000.72,3125223.13,3152193.42,3303371.24,Constant,False
39719,UZ44403,43.0,2538994.41,2678786.57,2611285.11,2627792.53,2749906.80,2749296.57,Constant,False
39720,UZ44403,51.0,45291.79,42150.19,40250.91,43582.43,44290.30,42851.89,Constant,False
39721,UZ44403,52.0,9724.66,8899.26,8446.44,9407.03,9664.82,9243.44,Constant,False
39722,UZ44403,55.0,83105.26,79572.65,77208.25,119590.83,120249.18,149363.74,Constant,False
39723,UZ44403,56.0,64385.96,61047.44,58773.43,61692.29,61958.25,60707.55,Constant,False
39724,UZ44403,61.0,6733.52,6749.17,6749.56,6748.73,6747.17,6738.10,Constant,False

In [83]:
# Transposing data

#>
df.T

,0,1,2,3,4,5,6,7,8,9,...,39715,39716,39717,39718,39719,39720,39721,39722,39723,39724
COD_USUARIO,E000170,E000170,E000170,E000170,E000170,E000170,E000170,E000170,E000170,E000170,...,UN30630,UN30630,UZ44403,UZ44403,UZ44403,UZ44403,UZ44403,UZ44403,UZ44403,UZ44403
COD_SEGLOBAL,NaN,34,35,36,37,42,43,51,52,53,...,56,61,NaN,42,43,51,52,55,56,61
fondos_201507,0,0,0,0,11684.4,67014.4,160261,0,0,0,...,25393.2,13677.8,89477.8,3.17249e+06,2.53899e+06,45291.8,9724.66,83105.3,64386,6733.52
fondos_201508,0,0,0,0,11673.4,65051.9,154240,0,0,0,...,24794.2,13336.7,86449.4,3.07234e+06,2.67879e+06,42150.2,8899.26,79572.6,61047.4,6749.17
fondos_201509,0,0,0,0,11675.8,63686,151736,0,0,0,...,24321.3,13065.8,138533,3.008e+06,2.61129e+06,40250.9,8446.44,77208.2,58773.4,6749.56
fondos_201510,0,0,0,0,11687.9,65917.9,157773,0,0,0,...,24771.2,13321.1,213179,3.12522e+06,2.62779e+06,43582.4,9407.03,119591,61692.3,6748.73
fondos_201511,0,0,0,0,11697,43472.4,159883,0,0,0,...,30120.8,13326.8,212652,3.15219e+06,2.74991e+06,44290.3,9664.82,120249,61958.2,6747.17
fondos_201512,0,0,0,0,11687.4,23488.2,155396,0,0,0,...,29835,13192.8,210165,3.30337e+06,2.7493e+06,42851.9,9243.44,149364,60707.6,6738.1
new_column,Constant,Constant,Constant,Constant,Constant,Constant,Constant,Constant,Constant,Constant,...,Constant,Constant,Constant,Constant,Constant,Constant,Constant,Constant,Constant,Constant

In [66]:
# Create new column Q3_2015 where fondos_201507 +  fondos_201508

#>
df.assign(Q3_2015 =df.fondos_201507 + df.fondos_201508).head()

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512,Q3_2015
0,E000170,NaN,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,E000170,34.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,E000170,35.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,E000170,36.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,E000170,37.0,11684.42,11673.35,11675.79,11687.85,11696.99,11687.41,23357.77

In [104]:
# Concatenate two DataFrame columns into a new, single column. Concatenate COD_USUARIO and COD_SEGLOBAL in column 'concatenated'

#>
df['concatenated'] = df['COD_USUARIO'].map(str) + ":" + df['COD_SEGLOBAL'].map(str)
df

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512,new_column,concatenate,concatenated
0,E000170,NaN,0.00,0.00,0.00,0.00,0.00,0.00,Constant,E000170:nan,E000170:nan
1,E000170,34.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,E000170:34.0,E000170:34.0
2,E000170,35.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,E000170:35.0,E000170:35.0
3,E000170,36.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,E000170:36.0,E000170:36.0
4,E000170,37.0,11684.42,11673.35,11675.79,11687.85,11696.99,11687.41,Constant,E000170:37.0,E000170:37.0
5,E000170,42.0,67014.43,65051.89,63686.01,65917.87,43472.36,23488.17,Constant,E000170:42.0,E000170:42.0
6,E000170,43.0,160260.96,154240.41,151735.51,157772.90,159883.25,155395.69,Constant,E000170:43.0,E000170:43.0
7,E000170,51.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,E000170:51.0,E000170:51.0
8,E000170,52.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,E000170:52.0,E000170:52.0
9,E000170,53.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,E000170:53.0,E000170:53.0
10,E000170,54.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,E000170:54.0,E000170:54.0
11,E000170,55.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,E000170:55.0,E000170:55.0
12,E000170,56.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,E000170:56.0,E000170:56.0
13,E000170,61.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,E000170:61.0,E000170:61.0
14,E000501,NaN,158772.14,154831.31,151801.95,154821.40,154964.26,153389.92,Constant,E000501:nan,E000501:nan
15,E000501,42.0,1143726.44,1152113.04,1134674.76,1200680.02,1205097.50,1190889.62,Constant,E000501:42.0,E000501:42.0
16,E000501,43.0,5903439.20,5859182.06,5619079.85,5728629.77,5747048.30,5674373.83,Constant,E000501:43.0,E000501:43.0
17,E000501,51.0,49750.59,46070.23,43520.47,47119.29,47466.83,45981.72,Constant,E000501:51.0,E000501:51.0
18,E000501,52.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,E000501:52.0,E000501:52.0
19,E000501,55.0,3180.03,4480.64,4373.56,36093.07,36502.79,36075.67,Constant,E000501:55.0,E000501:55.0
20,E000501,56.0,45203.51,43990.00,43203.73,100018.89,101300.60,99788.03,Constant,E000501:56.0,E000501:56.0
21,E000501,61.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,E000501:61.0,E000501:61.0
22,E000531,NaN,60958.04,58109.30,55963.78,58196.52,58049.08,81840.54,Constant,E000531:nan,E000531:nan
23,E000531,42.0,2327130.74,2429578.67,2394626.68,2495563.76,2562909.47,2437240.14,Constant,E000531:42.0,E000531:42.0
24,E000531,43.0,6401503.37,6246756.81,6194036.22,6394802.59,6414458.12,6421029.54,Constant,E000531:43.0,E000531:43.0
25,E000531,51.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,E000531:51.0,E000531:51.0
26,E000531,53.0,0.00,0.00,0.00,0.00,0.00,25523.54,Constant,E000531:53.0,E000531:53.0
27,E000531,55.0,106028.29,103552.50,102453.96,105456.27,28459.63,33538.69,Constant,E000531:55.0,E000531:55.0
28,E000531,56.0,26587.35,25193.19,9231.63,9698.31,9736.40,35065.99,Constant,E000531:56.0,E000531:56.0
29,E000531,61.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,E000531:61.0,E000531:61.0
...,...,...,...,...,...,...,...,...,...,...,...
39695,UN20939,NaN,0.00,0.00,29351.83,31912.09,32921.98,31588.61,Constant,UN20939:nan,UN20939:nan
39696,UN20939,32.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,UN20939:32.0,UN20939:32.0
39697,UN20939,33.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,UN20939:33.0,UN20939:33.0
39698,UN20939,34.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,UN20939:34.0,UN20939:34.0
39699,UN20939,35.0,508109.57,494952.03,489380.61,506028.14,511592.39,503126.80,Constant,UN20939:35.0,UN20939:35.0
39700,UN20939,36.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,UN20939:36.0,UN20939:36.0
39701,UN20939,41.0,2221679.67,1866663.89,1598197.26,1665208.97,1880360.44,1933777.49,Constant,UN20939:41.0,UN20939:41.0
39702,UN20939,42.0,13210393.98,13136779.46,12160833.62,12731967.03,12576414.58,12872718.29,Constant,UN20939:42.0,UN20939:42.0
39703,UN20939,43.0,1953925.87,1916066.11,1837067.03,1915004.09,1828223.59,1797593.99,Constant,UN20939:43.0,UN20939:43.0
39704,UN20939,51.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,UN20939:51.0,UN20939:51.0
39705,UN20939,55.0,14840.10,13605.51,12552.69,14135.59,14456.72,13625.66,Constant,UN20939:55.0,UN20939:55.0
39706,UN20939,56.0,129460.02,127825.76,126843.50,131807.26,133252.77,132170.99,Constant,UN20939:56.0,UN20939:56.0
39707,UN20939,61.0,31451.05,31233.79,31070.99,31280.26,31902.58,33374.68,Constant,UN20939:61.0,UN20939:61.0
39708,UN30630,35.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,UN30630:35.0,UN30630:35.0
39709,UN30630,36.0,25887.66,25871.12,25854.40,25863.79,25868.35,25841.92,Constant,UN30630:36.0,UN30630:36.0
39710,UN30630,41.0,5779519.18,5746349.61,5688564.48,5755571.78,5716715.45,5711361.19,Constant,UN30630:41.0,UN30630:41.0
39711,UN30630,42.0,23325331.62,22619439.45,22158029.16,22928461.62,22848696.00,22449628.07,Constant,UN30630:42.0,UN30630:42.0
39712,UN30630,43.0,2896554.74,2835333.27,2774716.13,2845697.02,2862000.64,2880338.58,Constant,UN30630:43.0,UN30630:43.0
39713,UN30630,51.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,UN30630:51.0,UN30630:51.0
39714,UN30630,55.0,38538.53,38250.82,38481.57,38942.34,39354.14,38900.83,Constant,UN30630:55.0,UN30630:55.0
39715,UN30630,56.0,25393.17,24794.20,24321.34,24771.15,30120.85,29834.95,Constant,UN30630:56.0,UN30630:56.0
39716,UN30630,61.0,13677.78,13336.68,13065.83,13321.08,13326.78,13192.80,Constant,UN30630:61.0,UN30630:61.0
39717,UZ44403,NaN,89477.81,86449.35,138533.24,213178.74,212651.64,210164.89,Constant,UZ44403:nan,UZ44403:nan
39718,UZ44403,42.0,3172490.53,3072344.65,3008000.72,3125223.13,3152193.42,3303371.24,Constant,UZ44403:42.0,UZ44403:42.0
39719,UZ44403,43.0,2538994.41,2678786.57,2611285.11,2627792.53,2749906.80,2749296.57,Constant,UZ44403:43.0,UZ44403:43.0
39720,UZ44403,51.0,45291.79,42150.19,40250.91,43582.43,44290.30,42851.89,Constant,UZ44403:51.0,UZ44403:51.0
39721,UZ44403,52.0,9724.66,8899.26,8446.44,9407.03,9664.82,9243.44,Constant,UZ44403:52.0,UZ44403:52.0
39722,UZ44403,55.0,83105.26,79572.65,77208.25,119590.83,120249.18,149363.74,Constant,UZ44403:55.0,UZ44403:55.0
39723,UZ44403,56.0,64385.96,61047.44,58773.43,61692.29,61958.25,60707.55,Constant,UZ44403:56.0,UZ44403:56.0
39724,UZ44403,61.0,6733.52,6749.17,6749.56,6748.73,6747.17,6738.10,Constant,UZ44403:61.0,UZ44403:61.0

In [108]:
# Split delimited values in a DataFrame column into two new columns. Split column concatenated with delimeted :.

#>
df['a'], df['b'] = zip(*df['concatenated'].apply(lambda x: x.split(':', 1)))
df

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512,new_column,concatenate,concatenated,a,b
0,E000170,NaN,0.00,0.00,0.00,0.00,0.00,0.00,Constant,E000170:nan,E000170:nan,E000170,nan
1,E000170,34.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,E000170:34.0,E000170:34.0,E000170,34.0
2,E000170,35.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,E000170:35.0,E000170:35.0,E000170,35.0
3,E000170,36.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,E000170:36.0,E000170:36.0,E000170,36.0
4,E000170,37.0,11684.42,11673.35,11675.79,11687.85,11696.99,11687.41,Constant,E000170:37.0,E000170:37.0,E000170,37.0
5,E000170,42.0,67014.43,65051.89,63686.01,65917.87,43472.36,23488.17,Constant,E000170:42.0,E000170:42.0,E000170,42.0
6,E000170,43.0,160260.96,154240.41,151735.51,157772.90,159883.25,155395.69,Constant,E000170:43.0,E000170:43.0,E000170,43.0
7,E000170,51.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,E000170:51.0,E000170:51.0,E000170,51.0
8,E000170,52.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,E000170:52.0,E000170:52.0,E000170,52.0
9,E000170,53.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,E000170:53.0,E000170:53.0,E000170,53.0
10,E000170,54.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,E000170:54.0,E000170:54.0,E000170,54.0
11,E000170,55.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,E000170:55.0,E000170:55.0,E000170,55.0
12,E000170,56.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,E000170:56.0,E000170:56.0,E000170,56.0
13,E000170,61.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,E000170:61.0,E000170:61.0,E000170,61.0
14,E000501,NaN,158772.14,154831.31,151801.95,154821.40,154964.26,153389.92,Constant,E000501:nan,E000501:nan,E000501,nan
15,E000501,42.0,1143726.44,1152113.04,1134674.76,1200680.02,1205097.50,1190889.62,Constant,E000501:42.0,E000501:42.0,E000501,42.0
16,E000501,43.0,5903439.20,5859182.06,5619079.85,5728629.77,5747048.30,5674373.83,Constant,E000501:43.0,E000501:43.0,E000501,43.0
17,E000501,51.0,49750.59,46070.23,43520.47,47119.29,47466.83,45981.72,Constant,E000501:51.0,E000501:51.0,E000501,51.0
18,E000501,52.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,E000501:52.0,E000501:52.0,E000501,52.0
19,E000501,55.0,3180.03,4480.64,4373.56,36093.07,36502.79,36075.67,Constant,E000501:55.0,E000501:55.0,E000501,55.0
20,E000501,56.0,45203.51,43990.00,43203.73,100018.89,101300.60,99788.03,Constant,E000501:56.0,E000501:56.0,E000501,56.0
21,E000501,61.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,E000501:61.0,E000501:61.0,E000501,61.0
22,E000531,NaN,60958.04,58109.30,55963.78,58196.52,58049.08,81840.54,Constant,E000531:nan,E000531:nan,E000531,nan
23,E000531,42.0,2327130.74,2429578.67,2394626.68,2495563.76,2562909.47,2437240.14,Constant,E000531:42.0,E000531:42.0,E000531,42.0
24,E000531,43.0,6401503.37,6246756.81,6194036.22,6394802.59,6414458.12,6421029.54,Constant,E000531:43.0,E000531:43.0,E000531,43.0
25,E000531,51.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,E000531:51.0,E000531:51.0,E000531,51.0
26,E000531,53.0,0.00,0.00,0.00,0.00,0.00,25523.54,Constant,E000531:53.0,E000531:53.0,E000531,53.0
27,E000531,55.0,106028.29,103552.50,102453.96,105456.27,28459.63,33538.69,Constant,E000531:55.0,E000531:55.0,E000531,55.0
28,E000531,56.0,26587.35,25193.19,9231.63,9698.31,9736.40,35065.99,Constant,E000531:56.0,E000531:56.0,E000531,56.0
29,E000531,61.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,E000531:61.0,E000531:61.0,E000531,61.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39695,UN20939,NaN,0.00,0.00,29351.83,31912.09,32921.98,31588.61,Constant,UN20939:nan,UN20939:nan,UN20939,nan
39696,UN20939,32.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,UN20939:32.0,UN20939:32.0,UN20939,32.0
39697,UN20939,33.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,UN20939:33.0,UN20939:33.0,UN20939,33.0
39698,UN20939,34.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,UN20939:34.0,UN20939:34.0,UN20939,34.0
39699,UN20939,35.0,508109.57,494952.03,489380.61,506028.14,511592.39,503126.80,Constant,UN20939:35.0,UN20939:35.0,UN20939,35.0
39700,UN20939,36.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,UN20939:36.0,UN20939:36.0,UN20939,36.0
39701,UN20939,41.0,2221679.67,1866663.89,1598197.26,1665208.97,1880360.44,1933777.49,Constant,UN20939:41.0,UN20939:41.0,UN20939,41.0
39702,UN20939,42.0,13210393.98,13136779.46,12160833.62,12731967.03,12576414.58,12872718.29,Constant,UN20939:42.0,UN20939:42.0,UN20939,42.0
39703,UN20939,43.0,1953925.87,1916066.11,1837067.03,1915004.09,1828223.59,1797593.99,Constant,UN20939:43.0,UN20939:43.0,UN20939,43.0
39704,UN20939,51.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,UN20939:51.0,UN20939:51.0,UN20939,51.0
39705,UN20939,55.0,14840.10,13605.51,12552.69,14135.59,14456.72,13625.66,Constant,UN20939:55.0,UN20939:55.0,UN20939,55.0
39706,UN20939,56.0,129460.02,127825.76,126843.50,131807.26,133252.77,132170.99,Constant,UN20939:56.0,UN20939:56.0,UN20939,56.0
39707,UN20939,61.0,31451.05,31233.79,31070.99,31280.26,31902.58,33374.68,Constant,UN20939:61.0,UN20939:61.0,UN20939,61.0
39708,UN30630,35.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,UN30630:35.0,UN30630:35.0,UN30630,35.0
39709,UN30630,36.0,25887.66,25871.12,25854.40,25863.79,25868.35,25841.92,Constant,UN30630:36.0,UN30630:36.0,UN30630,36.0
39710,UN30630,41.0,5779519.18,5746349.61,5688564.48,5755571.78,5716715.45,5711361.19,Constant,UN30630:41.0,UN30630:41.0,UN30630,41.0
39711,UN30630,42.0,23325331.62,22619439.45,22158029.16,22928461.62,22848696.00,22449628.07,Constant,UN30630:42.0,UN30630:42.0,UN30630,42.0
39712,UN30630,43.0,2896554.74,2835333.27,2774716.13,2845697.02,2862000.64,2880338.58,Constant,UN30630:43.0,UN30630:43.0,UN30630,43.0
39713,UN30630,51.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant,UN30630:51.0,UN30630:51.0,UN30630,51.0
39714,UN30630,55.0,38538.53,38250.82,38481.57,38942.34,39354.14,38900.83,Constant,UN30630:55.0,UN30630:55.0,UN30630,55.0
39715,UN30630,56.0,25393.17,24794.20,24321.34,24771.15,30120.85,29834.95,Constant,UN30630:56.0,UN30630:56.0,UN30630,56.0
39716,UN30630,61.0,13677.78,13336.68,13065.83,13321.08,13326.78,13192.80,Constant,UN30630:61.0,UN30630:61.0,UN30630,61.0
39717,UZ44403,NaN,89477.81,86449.35,138533.24,213178.74,212651.64,210164.89,Constant,UZ44403:nan,UZ44403:nan,UZ44403,nan
39718,UZ44403,42.0,3172490.53,3072344.65,3008000.72,3125223.13,3152193.42,3303371.24,Constant,UZ44403:42.0,UZ44403:42.0,UZ44403,42.0
39719,UZ44403,43.0,2538994.41,2678786.57,2611285.11,2627792.53,2749906.80,2749296.57,Constant,UZ44403:43.0,UZ44403:43.0,UZ44403,43.0
39720,UZ44403,51.0,45291.79,42150.19,40250.91,43582.43,44290.30,42851.89,Constant,UZ44403:51.0,UZ44403:51.0,UZ44403,51.0
39721,UZ44403,52.0,9724.66,8899.26,8446.44,9407.03,9664.82,9243.44,Constant,UZ44403:52.0,UZ44403:52.0,UZ44403,52.0
39722,UZ44403,55.0,83105.26,79572.65,77208.25,119590.83,120249.18,149363.74,Constant,UZ44403:55.0,UZ44403:55.0,UZ44403,55.0
39723,UZ44403,56.0,64385.96,61047.44,58773.43,61692.29,61958.25,60707.55,Constant,UZ44403:56.0,UZ44403:56.0,UZ44403,56.0
39724,UZ44403,61.0,6733.52,6749.17,6749.56,6748.73,6747.17,6738.10,Constant,UZ44403:61.0,UZ44403:61.0,UZ44403,61.0

In [68]:
# Unique rows on "COD_USUARIO","COD_SEGLOBAL"
# By default: Drop duplicates except for the first occurrence.

#>
df.drop_duplicates('COD_USUARIO', inplace=True)
df

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512
0,E000170,NaN,0.00,0.00,0.00,0.00,0.00,0.00
14,E000501,NaN,158772.14,154831.31,151801.95,154821.40,154964.26,153389.92
22,E000531,NaN,60958.04,58109.30,55963.78,58196.52,58049.08,81840.54
30,E000545,NaN,0.00,0.00,0.00,0.00,0.00,0.00
41,E000558,NaN,0.00,0.00,0.00,0.00,0.00,0.00
49,E000575,NaN,0.00,0.00,0.00,0.00,0.00,0.00
59,E000766,NaN,0.00,0.00,0.00,0.00,0.00,0.00
65,E000839,NaN,0.00,0.00,0.00,0.00,0.00,0.00
79,E001223,NaN,0.00,0.00,0.00,0.00,0.00,0.00
88,E017652,NaN,0.00,0.00,0.00,0.00,0.00,0.00
96,E017834,NaN,0.00,4758.00,4752.93,4747.10,4706.55,4698.01
106,E017873,NaN,0.00,0.00,0.00,0.00,0.00,0.00
115,E017941,NaN,0.00,0.00,0.00,0.00,0.00,0.00
124,E018089,NaN,0.00,0.00,0.00,0.00,0.00,0.00
137,E018296,NaN,0.00,0.00,0.00,23999.48,24112.28,23865.02
148,E018300,NaN,0.00,0.00,0.00,0.00,0.00,0.00
161,E018439,NaN,0.00,0.00,0.00,0.00,0.00,20217.34
170,E018543,NaN,0.00,0.00,0.00,0.00,0.00,0.00
183,E018550,NaN,0.00,0.00,0.00,0.00,0.00,0.00
190,E018722,NaN,0.00,0.00,0.00,0.00,0.00,0.00
199,E018723,NaN,0.00,0.00,0.00,0.00,0.00,0.00
207,E018732,NaN,0.00,0.00,0.00,0.00,0.00,0.00
221,E018734,NaN,0.00,0.00,0.00,0.00,0.00,0.00
233,E018745,NaN,0.00,0.00,0.00,0.00,0.00,0.00
239,E018755,NaN,0.00,0.00,0.00,0.00,0.00,0.00
249,E018759,NaN,64555.39,62953.09,61721.37,62949.05,126960.79,184025.89
261,E018784,NaN,9720.39,8792.77,8224.63,9053.79,9129.02,8851.31
272,E018790,NaN,0.00,0.00,0.00,0.00,0.00,0.00
283,E018795,NaN,0.00,0.00,0.00,0.00,0.00,0.00
292,E018800,NaN,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...
39438,UH40047,NaN,0.00,0.00,0.00,0.00,0.00,0.00
39446,UH40316,34.0,0.00,0.00,0.00,0.00,0.00,0.00
39456,UH40883,NaN,39130.65,37105.82,35734.92,37503.85,37668.14,36905.96
39468,UH43321,NaN,0.00,0.00,0.00,0.00,0.00,0.00
39479,UH43528,NaN,0.00,0.00,0.00,0.00,0.00,0.00
39490,UH43680,NaN,0.00,0.00,0.00,0.00,0.00,0.00
39498,UH43792,NaN,0.00,0.00,0.00,0.00,0.00,0.00
39507,UH43873,NaN,0.00,0.00,0.00,0.00,0.00,0.00
39518,UH44085,NaN,0.00,0.00,0.00,0.00,0.00,0.00
39531,UH44160,NaN,0.00,0.00,0.00,0.00,0.00,0.00
39542,UH44430,NaN,0.00,0.00,0.00,0.00,0.00,0.00
39553,UH44502,34.0,0.00,0.00,0.00,0.00,0.00,0.00
39559,UH44759,NaN,0.00,0.00,0.00,0.00,0.00,0.00
39564,UH44770,NaN,0.00,0.00,0.00,0.00,10429.89,21925.74
39576,UH44831,NaN,0.00,0.00,0.00,0.00,0.00,0.00
39590,UH44832,NaN,0.00,0.00,0.00,0.00,0.00,0.00
39594,UH44869,NaN,0.00,0.00,0.00,0.00,0.00,0.00
39601,UH44891,NaN,0.00,0.00,0.00,0.00,0.00,0.00
39609,UH44909,NaN,0.00,0.00,0.00,0.00,0.00,0.00
39616,UH44912,NaN,0.00,0.00,0.00,0.00,0.00,0.00
39626,UH44915,NaN,0.00,9664.86,9456.85,9680.09,9721.38,9609.21
39636,UH44919,NaN,0.00,0.00,0.00,0.00,0.00,0.00
39647,UH45303,NaN,0.00,0.00,0.00,0.00,0.00,0.00
39653,UH50061,NaN,0.00,0.00,0.00,0.00,25655.15,25144.10
39665,UH50141,NaN,0.00,0.00,0.00,42975.34,43140.20,42473.07
39677,UH50179,NaN,0.00,0.00,0.00,0.00,0.00,0.00
39687,UH74179,NaN,0.00,0.00,0.00,0.00,0.00,0.00
39695,UN20939,NaN,0.00,0.00,29351.83,31912.09,32921.98,31588.61
39708,UN30630,35.0,0.00,0.00,0.00,0.00,0.00,0.00
39717,UZ44403,NaN,89477.81,86449.35,138533.24,213178.74,212651.64,210164.89

### Missing Data
pandas primarily uses the value np.nan to represent missing data. See the Missing Data section : http://pandas.pydata.org/pandas-docs/stable/missing_data.html#missing-data

In [89]:
# Get the boolean mask where values ans nan

#>
pd.isnull(df).head()

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False

In [87]:
# Count number on missing values

#>
df.isnull().sum().sum()

3634

In [86]:
# Check if there is any null

#>
df.isnull().values.any()

True

In [83]:
# Drop any rows that have missing data

#>
df.dropna(how='any').head()

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512
0,E000170,52.0,0.00,0.00,0.00,0.00,0.00,0.00
1,E000170,34.0,0.00,0.00,0.00,0.00,0.00,0.00
2,E000170,35.0,0.00,0.00,0.00,0.00,0.00,0.00
3,E000170,36.0,0.00,0.00,0.00,0.00,0.00,0.00
4,E000170,37.0,11684.42,11673.35,11675.79,11687.85,11696.99,11687.41

In [85]:
# Filling missing data

#>
df.fillna(value = 0).head()

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512
0,E000170,52.0,0.00,0.00,0.00,0.00,0.00,0.00
1,E000170,34.0,0.00,0.00,0.00,0.00,0.00,0.00
2,E000170,35.0,0.00,0.00,0.00,0.00,0.00,0.00
3,E000170,36.0,0.00,0.00,0.00,0.00,0.00,0.00
4,E000170,37.0,11684.42,11673.35,11675.79,11687.85,11696.99,11687.41