<img src="../static/logo.png" alt="datio" style="width: 200px "align="right"/>

## Pandas

Lo primero que debemos hacer es importar la libreria de Pandas:

In [1]:
import pandas as pd

Por convenio (de la comunidad de desarrollares) se usa "pd" como alias de la librería Pandas.

## Crear tu propio dataset

#### Series

El primer ejemplo que vamos a poner va a ser el de definir una estructura de datos "Series", un array de datos unidimensional con idexación. Las "Series" se definen de la siguiente manera:  

**serie = pd.Series(data, index=index)**

In [2]:
pd.Series?

Es decir, que en el primer parámetro le indicamos los datos del array y en el segundo parámetro los índices (en el caso de no indicar los índices de forma explícita, se generarán los índides de forma automático empezando desde el valor cero). Veamos un ejemplo de como crear una estructura "Series" con la alineación del Real Madrid, en el que tenemos como 'data' sus nombres y como índice su dorsal:

In [3]:
realMadridPlayers = pd.Series(
    ['Navas', 'Carvajal', 'Pepe', 'Ramos', 'Varane', 'Nacho', 'Marcelo', 'Coentrao', 'Danilo', 'Kroos', 'James',
     'Casemiro','Kovacic', 'Modric', 'Asensio', 'Isco','Ronaldo', 'Benzema', 'Bale', 'Lucas Vazquez', 'Mariano', 'Morata'],
    index=[1, 2, 3, 4, 5, 6, 12, 15, 23, 8, 10, 14, 16, 19, 20, 22, 7, 9, 11, 17, 18, 21])

print("Plantilla del Real Madrid 2017: \n%s" %realMadridPlayers)

Plantilla del Real Madrid 2017:
1             Navas
2          Carvajal
3              Pepe
4             Ramos
5            Varane
6             Nacho
12          Marcelo
15         Coentrao
23           Danilo
8             Kroos
10            James
14         Casemiro
16          Kovacic
19           Modric
20          Asensio
22             Isco
7           Ronaldo
9           Benzema
11             Bale
17    Lucas Vazquez
18          Mariano
21           Morata
dtype: object

También podemos crearnos una estructura de datos "Series" a partir de una lista o de un diccionario. Si la construimos a partir de una lista nos pondrá los índices por defecto y si lo creamos a partir de un diccionario, pondrá como índices las claves. Vamos a ver a continuación un ejemplo de como crear una Serie a partir de un diccionario y además vamos a ver como insertar en esta serie un nuevo elemento:

In [4]:
columnsDict = {1: 'IMP_FACTUZM', 2: 'IMP_FACTUZT', 3: 'IMP_FACTUZA', 4: 'IMP_OPERAM', 5:'IMP_OPERAT', 6: 'IMP_OPERAA'}

#>


# Insert new element: Add over index 7 the value:'XTI_PRELSTD'

#>

In [5]:
# Access to index with value i: Acces the element with index 1

#>

Nota: El índice puede ser de tipo String. Veamos un ejemplo:

In [6]:
codigoISO2 = pd.Series(['Afganistán','Åland, Islas','Albania','Alemania','Andorra','Angola','Anguila',
                        'Antártida','Antigua y Barbuda','Arabia Saudita','Argelia'],
                       index=['AF','AX','AL','DE','AD','AO','AI','AQ','AG','SA','DZ'])

In [7]:
# Access to index with value 'DE'

#>

#### Dataframe

In [8]:
from pandas import DataFrame

Un Datafre es una estructura de datos similar a una tabla de una base de datos relacional, una tabla de excel, etc y como tal se pueden hacer muchas operaciones y como las que se harían con consultas a tablas de bases de datos o en excel.  
Para construir un DataFrame se puede hacer de diferentes formas, como por ejemplo a partir de una lista, de un diccionario, de una Serie, de otro DataFrame, leyendo una tabla excel, csv, etc.  
Nota: también se pueden añadir índices al dataframe, un indice es como una primary key sobre una tabla sql, con la excepción de que un indice puede tener valores duplicados.

In [9]:
# From dictionary:

data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}

#>

In [10]:
# From matix and columns :

columnsDF = ['cod_ofictrn','imp_trans','cod_user','cod_npuesto','cod_persona']
list_listas = [[1557,5000,'U044181','02',5133579],[2585,13000,'E018157','03',23783944],[2626,19000,'UA16687','01',12024444]]

#>

In [11]:
# From matix, columns and index:

indexDF = ['A','A','C']

#>

Usaremos el método **loc** para acceder por índice, o bien **ix**:

In [12]:
DF_2.loc?

Object `DF_2.loc` not found.

In [13]:
# Access to value with index 1:

#>


# or 

#>

Si queremos acceder por el elemento en la posición i usaremos **iloc**, tambień **ix** únicamente si el índice no es de tipo entero.

In [14]:
# Access to the second element:

#>


# or 

#>

Nota: Ver las diferencias de: loc, iloc e ix  en : "Indexing and Selecting data": http://pandas.pydata.org/pandas-docs/stable/indexing.html

Para mergear listas usaremos la función **zip**:

In [15]:
cod_ofictrnList = [1557,2585,2626]
imp_transList = [5000,13000,19000]
cod_userList = ['U044181','E018157','UA16687']

In [16]:
zip?

In [17]:
# Create dataset as result to merge: cod_ofictrnList, imp_transList and cod_userList. 

#>

In [18]:
# Create a dataframe with dataset before and columns: 'cod_ofictrn','imp_trans','cod_user':

#>

Para exportar el dataframe a un fichero csv, usaremos **to_csv**

In [19]:
DF_1.to_csv?

Object `DF_1.to_csv` not found.

In [20]:
# Export a dataframe in fonder "data"

#>

Borramos el fichero creado, para borrar usaremos **remove**:

In [21]:
#!/usr/bin/python
import os

## delete only if file exists ##
if os.path.exists(filename):
    #>
    
else:
    print("Sorry, I can not remove %s file." % filename)

IndentationError: expected an indented block (<ipython-input-21-7b807728d858>, line 8)

## Entrada de datos

La API de pandas I/O es un conjunto de las mejores funciones de acceso de lectura como pd.read_csv () que por lo general devuelven un objeto pandas.
>Fichero de datos:   read_csv   ,  read_table  
Datos estructurados:  read_hdf  ,  read_json  
Excel:  read_excel

### read_excel

In [ ]:
pd.read_excel?

In [ ]:
# Read excel file: tablas_sinfo.xlsx located in data.

#>

### read_csv

dataframe = pd.**read_csv**("filepath",sep=', ', delimiter=None,header='infer'...)  
Por defecto toma la primera fila como la cabecera con los nombres del dataset.

In [ ]:
pd.read_csv?

In [ ]:
# Read csv file: Base_evolucion_fondos.csv located in data.

#>

In [ ]:
# Read csv file: Base_evolucion_fondos.csv located in data with header

#>

In [ ]:
# Type of the df object:

#>

In [ ]:
# List column names:

#>


#or 

#>

In [ ]:
# Show first few rows

#>

In [ ]:
# Show last few rows

#>

In [ ]:
# Data type of each column

#>

In [ ]:
# Print index

#>

In [ ]:
# Return number of columns and rows of dataframe

#>

In [ ]:
#  Number of rows

#>

In [ ]:
# Number of columns

#>

In [ ]:
# Basic statistics

#>

In [ ]:
#Getting information and basic calculations

#>

In [ ]:
#  Slices the rows via [], select rows with index from 0 to 2

#>


   # or

#>

    
    # or
    
#>    


    # or
    
#>

In [ ]:
# Label slicing, slice over rows and columns; the same as above and ontly COD_SEGLOBAL

#>

In [ ]:
# Slice rows and columns, select rows[3:6] colummsn [0,3]

#>

In [ ]:
# Get a value explicitly by position, get row:1, column 1

#>


# or

#>

In [ ]:
# Get a value explicitly by label, get labels 1, 'COD_SEGLOBAL'

#>

In [ ]:
# Select one column, which yields a Series. Select COD_SEGLOBAL:

#>


# or

#>

In [ ]:
# Select two columns. Select: COD_USUARIO and COD_SEGLOBAL

#>

In [ ]:
# Select with condition, using a single columnn's values to select data
# Filter for the condition COD_SEGLOBAL>34

#>


     # or
#>

In [ ]:
# Filter with double condition: 
# Filter for the conditions: COD_SEGLOBAL=34 AND fondos_201507 >0
#>


# or

#>

In [ ]:
# Filter with double condition: 
# Filter for the conditions: COD_SEGLOBAL=34 OR fondos_201507 =0

#>


    # or

#>

In [ ]:
# Filter using isin() method for filtering
# Select data if 'COD_SEGLOBAL' isin: 35.0, 39.0, 41.0 

#>

In [ ]:
# Unique COD_SEGLOBAL

#>

In [ ]:
# Maximum of the "fondos_201507" column

#>

In [ ]:
# Maximum fondos_201507 by COD_USUARIO

#>


    #or
#>

In [ ]:
# Mean fondos_201507 by COD_USUARIO, and rename column result to : Mean_fondos_201507

#>

In [ ]:
# Remove a column, delete 'COD_SEGLOBAL'

df1 = df.copy()
#>



#or
df1 = df.copy()
#>


# or
df1 = df.copy()
#>

In [ ]:
# Remove multiple columns, delete 'COD_SEGLOBAL' and 'fondos_201507'

df1 = df.copy()
#>

    # or
df1 = df.copy()
#>

In [ ]:
df1.merge?

In [ ]:
# Merge two dataframes. Merge df1 and df2 (outer join) on Ciudad and Provincia

data1 = {'Ciudad':['Trujillo', 'Las Pedroñeras', 'Navaluenga', 'Navaluenga'], 'Provincia':['Caceres', 'Cuenca', 'Avila', 'Albacete'], 'Poblacion':[10000, 2000, 400, 40000]}

data2 = {'Ciudad':['Trujillo', 'Las Pedroñeras', 'Navaluenga', 'Navaluenga'], 'Provincia':['Caceres', 'Cuenca', 'Avila', 'Albacete'], 'Poblacion':[12000, 1800, 380, 30000]}

df1 = pd.DataFrame(data1)

df2 = pd.DataFrame(data2)

#>

In [ ]:
# Substract. Create column Diferencia 1970-2000 with  Poblacion_2000 - Poblacion_1970 

#>

In [ ]:
# Call functions for grouping. From df, create 'Count_201507_0' column to count fondos_201507=0.0

#>

In [ ]:
# Return the first occurance of COD_SEGLOBAL == 37.0

#>

In [ ]:
# Return the last occurance of COD_SEGLOBAL == 37.0

#>

In [ ]:
# Order in ascending order by fondos_201507 show top 6

#>

In [ ]:
# Order in descending order by fondos_201507 show top 6

#>

In [ ]:
# Order in different order: "fondos_201507" in descending and "COD_USUARIO" in ascending

#>

In [ ]:
# Rename columns, "COD_USUARIO":"user_code" and "COD_SEGLOBAL":"global_seg_code"

#>

In [ ]:
# Add column 'new_column' with string 'Constant'

#>

In [ ]:
# Add a column 'COD_SEG_34', with boolean values depending on COD_SEGLOBA==34.0

#>

In [ ]:
# Transposing data

#>

In [ ]:
# Create new column Q3_2015 where fondos_201507 +  fondos_201508

#>

In [ ]:
# Concatenate two DataFrame columns into a new, single column. Concatenate COD_USUARIO and COD_SEGLOBAL in column 'concatenated'

#>

In [ ]:
# Split delimited values in a DataFrame column into two new columns. Split column concatenated with delimeted :.

#>

In [ ]:
# Unique rows on "COD_USUARIO","COD_SEGLOBAL"
# By default: Drop duplicates except for the first occurrence.

#>

### Missing Data
pandas primarily uses the value np.nan to represent missing data. See the Missing Data section : http://pandas.pydata.org/pandas-docs/stable/missing_data.html#missing-data

In [ ]:
# Get the boolean mask where values ans nan

#>

In [ ]:
# Count number on missing values

#>

In [ ]:
# Check if there is any null

#>

In [ ]:
# Drop any rows that have missing data

#>

In [ ]:
# Filling missing data

#>