# SPARK CONTEXT Y SPARKSQL CONTEXT

In [ ]:
import pyspark
sc = pyspark.SparkContext('local[*]')
sc

In [ ]:
sqlContext = pyspark.sql.SQLContext(sc)
sqlContext

# CARGA DE DATASETS

In [ ]:
winter = sqlContext.read.format("com.databricks.spark.csv").option("header", "true")\
                .option("inferschema", "true").option("mode","DROPMALFORMED").option("delimiter", ",")\
                .load("data/winter.csv")

In [ ]:
summer = sqlContext.read.format("com.databricks.spark.csv").option("header", "true")\
                .option("inferschema", "true").option("mode","DROPMALFORMED").option("delimiter", ",")\
                .load("data/summer.csv")

In [ ]:
countries = sqlContext.read.format("com.databricks.spark.csv").option("header", "true")\
                .option("inferschema", "true").option("mode","DROPMALFORMED").option("delimiter", ",")\
                .load("data/dictionary.csv")

In [ ]:
winter.dtypes

In [ ]:
summer.dtypes

In [ ]:
countries.dtypes

In [ ]:
print(winter.count())
print(summer.count())
print(countries.count())

In [ ]:
from pyspark.sql.functions import lit
winter = winter.withColumn('type', lit(1))
summer = summer.withColumn('type', lit(2))

# UNIR LOS DOS DATAFRAMES

# ANALISIS DE LOS DATOS

# Obtener el total de medallas de Francia en los juegos Olímpicos

# Obtener el total de medallas de Rusia en los juegos Olímpicos separadas por metal

# Obtener el podio masculino de la prueba de 1500M de Barcelona '92

# Obtener el número de medallas obtenidas por las competidoras de USA en todas las modalidades de Natación en Londres 2012 por metales

# Obtener el país con mayor número de medallas de cualquier tipo en juegos olímpicos de verano antes de 1980

# Mostrar todas las medallas ganadas por la gimnasta rumana Nadia Comaneci

# Mostrar todas las medallas de oro ganadas por el atleta jamaicano Usain Bolt

# OBTENER LOS PRIMEROS PAÍSES EN RATIO DE MEDALLAS/POBLACIÓN Y MEDALLAS/GDP