# Spark II: Spark SQL

### 1. Crear SQLContext

In [ ]:
import pyspark
sc = pyspark.SparkContext('local[*]')

In [ ]:
sqlContext = pyspark.sql.SQLContext(sc)

In [ ]:
sqlContext

### 2. Crear un DataFrame

 ***A partir de una lista***

In [ ]:
df1 = sqlContext.createDataFrame([('Raul', 7), ('Michel', 8), ('Palomeque', 8)])

In [ ]:
df1.collect()

In [ ]:
df2 = sqlContext.createDataFrame([('Raul', 7), ('Michel', 8), ('Palomeque', 8)], ['jugador', 'numero'])

In [ ]:
df2.collect()

***A partir de un diccionario***

In [ ]:
df3 = sqlContext.createDataFrame([{'jugador': 'Raul', 'numero': 7}])

In [ ]:
df3.collect()

***Seleccionar columnas***

In [ ]:
df2.select('jugador').collect()

In [ ]:
df2.select('jugador').show()

In [ ]:
df2.select(df2['jugador'], df2['numero']).show()

In [ ]:
df2.select(df2['jugador'], df2['numero'] + 1).show()

***Filtrar filas***

In [ ]:
df2.filter(df2['numero'] > 7).show()

***Agrupar por un campo***

In [ ]:
df2.groupBy('numero').count().show()

***Transformar a RDD***

In [ ]:
df2.rdd.collect()

In [ ]:
df2.printSchema()

### 3. Cargar DataFrame a partir de un fichero

***Cargar de un fichero csv***

In [ ]:
df_test = sqlContext.read.csv('data/test.csv')

In [ ]:
df_test

In [ ]:
df_test.show()

***Cargar con una cabecera***

In [ ]:
df_test = sqlContext.read.option('header', 'true').csv('data/test.csv')

In [ ]:
df_test.show()

***Cargar con un delimitador***

In [ ]:
df_test = sqlContext.read.option('header', 'true').option('delimiter', ';').csv('data/test.csv')

In [ ]:
df_test.show()

### 4.Un ejemplo un poco m√°s real

In [ ]:
df_barrios = sqlContext.read.option('header', 'true').option('delimiter', ';').csv('data/Barrios.csv')

In [ ]:
df_barrios.printSchema()

In [ ]:
df_barrios.count()

In [ ]:
df_barrios.columns

In [ ]:
df_barrios.show()

In [ ]:
df_barrios.select('CODIGO_DISTRITO', 'Nombre de barrio').show()

In [ ]:
df_distritos = sqlContext.read.option('header', 'true').option('delimiter', ';').csv('data/Distritos.csv')

In [ ]:
df_distritos.show()

In [ ]:
df_distritos.printSchema()

In [ ]:
df_barrios.printSchema()

In [ ]:
df_barrios.select('CODIGO_DISTRITO', 'Nombre de barrio').join(df_distritos).show()

In [ ]:
df_barrios_distritos = df_barrios.select('CODIGO_DISTRITO', 'Nombre de barrio').join(df_distritos, on='CODIGO_DISTRITO')
df_barrios_distritos.show()

In [ ]:
df_barrios_distritos = df_barrios_distritos.select('DISTRITO', 'Nombre de barrio')
df_barrios_distritos.show()

In [ ]:
df_barrios_distritos.filter(df_barrios_distritos['DISTRITO'] == 'ARGANZUELA').show()

In [ ]:
distrito_grouped = df_barrios_distritos.groupBy('DISTRITO')
distrito_grouped

In [ ]:
distrito_grouped.count().show()

In [ ]:
distrito_grouped.sum().show()

In [ ]:
df_barrios.createOrReplaceTempView('BARRIOS')

In [ ]:
df_distritos.createOrReplaceTempView('DISTRITOS')

In [ ]:
todos_barrios = sqlContext.sql('SELECT * FROM BARRIOS')

In [ ]:
todos_barrios.show()

In [ ]:
distrito_uno = sqlContext.sql('SELECT * FROM BARRIOS WHERE CODIGO_DISTRITO="01"')

In [ ]:
distrito_uno.show()

In [ ]:
distritos_barrios = sqlContext.sql('SELECT * FROM DISTRITOS INNER JOIN BARRIOS ON BARRIOS.CODIGO_DISTRITO=DISTRITOS.CODIGO_DISTRITO')

In [ ]:
distritos_barrios.select('DISTRITO', 'Nombre de barrio').show()

In [ ]:
distritos_barrios.select('DISTRITO', 'Nombre de barrio').explain()

In [ ]:
df_barrio_info = distritos_barrios.select('Nombre de barrio', 'Superficie (m2)', 'Perimetro (m)')

In [ ]:
df_barrio_info.show()

In [ ]:
df_barrio_info.orderBy('Superficie (m2)').show()

In [ ]:
df_barrio_info.orderBy('Perimetro (m)').show()

In [ ]:
df_barrio_info.describe('Superficie (m2)').show()

In [ ]:
df_barrio_info.describe('Perimetro (m)').show()

In [ ]:
df_barrio_info.withColumn('Perimetro (km)', df_barrio_info['Perimetro (m)'] / 1000).show()