![](../static/cran.png)

## Data Types and Operations

R has different built-in data types and you may create your own ones

In [1]:
# Operator assignment: <-
# We may read: x <- 17*3 as 'x gets 17 times 3'

In [2]:
# What are x and y types?

In [3]:
# Their values are:

In [4]:
# Please, notice a and b has the same type
# In order to create an integer: as.integer()

In [5]:
# We may coerce a numeric value into integer

In [6]:
# We may coerce a decimal string or a logical value:

In [7]:
# We may convert to character by using: as.character()

In [8]:
# To concatenate characters (strings) use paste()
# paste (..., sep = " ", collapse = NULL)

### NULL, NA, NaN and Inf
**NULL** means that there is no value

**NA** stands for "Not Available"

**NaN** means "Not a Number"

**Inf** stands for infinity

In [9]:
# Try with examples:

In [10]:
# Checking with: is.null(), is.na(), is.nan(), is.infinite() and is.finite()

In [11]:
# Trying to Sum

In [12]:
# Sum (removing the NA and NaN values)

In [13]:
## Vector

In [14]:
## Filtering vectors (i.e: removing NA or Inf value)

In [89]:
#Help: ? or help()
# ? NA
# help(NA)

In [15]:
# Non-scalar data types: Vector, Matrix and Arrays

# Vector: a sequence of elements of the same type c()

In [16]:
# Other ways to create sequences

In [17]:
# Array and Matrix are a special kind of vector
# The difference is in the number of dimensions
# Vector: 1 dimension, Matrix: 2 dimensions, Array: arbitrary number of dimensions [1,2...]

In [18]:
# Lists is a sequence of elements. Elements may be of different types

In [19]:
# Dataframe is a list of vectors of equal length
# Used for storing data tables

In [20]:
# Reading and Writing data

#getwd()
#dir()
#write.csv(df, file="mydata.csv", row.names=FALSE)