![](../static/cran.png)

## Data Types and Operations

R has different built-in data types and you may create your own ones

In [16]:
# Operator assignment: <-
# We may read: x <- 17*3 as 'x gets 17 times 3'
a <- 17*3
b <- 7.5
c <- "Hello, world!"
d <- 1 == 2

In [17]:
# What are x and y types?
class(a)
class(b)
class(c)
class(d)

[1] "numeric"

[1] "numeric"

[1] "character"

[1] "logical"

In [18]:
# Their values are:
a
b
c
d

[1] 51

[1] 7.5

[1] "Hello, world!"

[1] FALSE

In [20]:
# Please, notice a and b has the same type
# In order to create an integer: as.integer()
e <- as.integer(a)
e
class(e)

[1] 51

[1] "integer"

In [23]:
# We may coerce a numeric value into integer
f <- as.integer(2.7)
f
class(f)

[1] 2

[1] "integer"

In [1]:
# We may coerce a decimal string or a logical value:
as.integer("5.111")
as.integer(FALSE)
as.integer("5.x")

[1] 5

[1] 0

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

[1] NA

In [3]:
# We may convert to character by using: as.character()
a <- as.character(42)
class(a)

[1] "character"

In [15]:
# To concatenate characters (strings) use paste()
# paste (..., sep = " ", collapse = NULL)
paste("Hola", "que", "tal")
paste("Hola", "que", "tal", sep=",")
paste(c("Ana", "Juan"), c("Garcia", "Gomez"))
paste(c("Ana", "Juan"), c("Garcia", "Gomez"), collapse=", ")

[1] "Hola que tal"

[1] "Hola,que,tal"

[1] "Ana Garcia" "Juan Gomez"

[1] "Ana Garcia, Juan Gomez"

### NULL, NA, NaN and Inf
**NULL** means that there is no value

**NA** stands for "Not Available"

**NaN** means "Not a Number"

**Inf** stands for infinity

In [57]:
# Try with examples:
a <- NULL
b <- NA
c <- NaN
d <- Inf
e <- -Inf

In [58]:
a
b
c
d
e

NULL

[1] NA

[1] NaN

[1] Inf

[1] -Inf

In [71]:
# Checking with: is.null(), is.na(), is.nan(), is.infinite() and is.finite()
is.null(a)
is.na(b)
is.nan(c)
is.infinite(d)
is.infinite(e)
is.finite(e)

[1] TRUE

[1] TRUE

[1] TRUE

[1] TRUE

[1] TRUE

[1] FALSE

In [1]:
# Trying to Sum
x1 <- c(1, 2, 3, 4)
x2 <- c(1, 2, 3, NA)
x3 <- c(1, 2, 3, NaN)
x4 <- c(1, 2, 3, Inf)
x5 <- c(1, 2, 3, Inf, -Inf)
sum(x1)
sum(x2)
sum(x3)
sum(x4)
sum(x5)

[1] 10

[1] NA

[1] NaN

[1] Inf

[1] NaN

In [11]:
# Sum (removing the NA and NaN values) 
sum(x1, na.rm=TRUE)
sum(x2, na.rm=TRUE)
sum(x3, na.rm=TRUE)
sum(x4, na.rm=TRUE)
sum(x5, na.rm=TRUE)
sum(x5, na.rm=TRUE)

[1] 10

[1] 6

[1] 6

[1] Inf

[1] NaN

[1] NaN

In [70]:
1/0 + 1/0 # Inf
1/0 - 1/0 # NaN
-Inf - Inf # -Inf

[1] Inf

[1] NaN

[1] -Inf

In [77]:
## Vector
x <- c(10, 20, 30)
y <- c(5, 7, 0)
z <- x/y
z

[1] 2.000000 2.857143      Inf

In [80]:
## Filtering vectors (i.e: removing NA or Inf value)
z[is.finite(z)]
is.finite(z) # => Logical vector

[1] 2.000000 2.857143

[1]  TRUE  TRUE FALSE

In [84]:
x <- c(1,2,3,NA,5,6)
x[!is.na(x)]

[1] 1 2 3 5 6

In [89]:
#Help: ? or help()
# ? NA
# help(NA)

In [ ]:
# Non-scalar data types: Vector, Matrix and Arrays

# Vector: a sequence of elements of the same type c()
names <- c("Daniel", "Pedro", "Ana", "Maria")
ages <- c(40, 50, 60, 70)

In [21]:
# Other ways to create sequences
seq(1,10)
1:10
seq(1,10,by=2)
seq(1,10,length.out=7)

 [1]  1  2  3  4  5  6  7  8  9 10

 [1]  1  2  3  4  5  6  7  8  9 10

[1] 1 3 5 7 9

[1]  1.0  2.5  4.0  5.5  7.0  8.5 10.0

In [12]:
# Array and Matrix are a special kind of vector
# The difference is in the number of dimensions
# Vector: 1 dimension, Matrix: 2 dimensions, Array: arbitrary number of dimensions [1,2...]
x <- matrix(c(1,2,3,4,5,6), nrow=2)
y <- array(c(1,2,3,4,5,6,7,8,9,10,11,12), dim=c(3,2,2))
y2 <- array(c(1,2,3,4,5,6,7,8,9,10,11,12), dim=c(6,2,1))
identical(y,y2)
dim(y)<-c(6,2,1)
identical(y,y2)

[1] FALSE

[1] TRUE

In [ ]:
# Lists is a sequence of elements. Elements may be of different types
a <- list("Juan", 33, "Male", "Datio")
a
b <- list(name="Juan", age=33, gender="Male", company="Datio")
b
a[1]
b[1]
b$name

In [2]:
# Dataframe is a list of vectors of equal length
# Used for storing data tables
name <- c("John", "Lucy", "Mary") 
age <- c(20, 25, 30) 
sex <- c("Male", "Female", "Female") 
df = data.frame(name, age, sex) 
df

  name age    sex
1 John  20   Male
2 Lucy  25 Female
3 Mary  30 Female

In [8]:
# Reading and Writing data

#getwd()
#dir()
#write.csv(df, file="mydata.csv", row.names=FALSE)
dir()
df2 <- read.csv(file="mydata.csv")
df2

[1] "01-introduction.ipynb"
[2] "02-data-types-operations.ipynb"
[3] "03-matrices.ipynb"
[4] "04-loops-conditional-statements.ipynb"
[5] "05-workshop.ipynb"
[6] "mydata.csv"

  name age    sex
1 John  20   Male
2 Lucy  25 Female
3 Mary  30 Female