![](../static/scala.jpg)

## Collections

In the previous topic we work with Arrays. An Array is an special kind of collection: corresponds to Java arrays and can be generics (Array[T])

In [23]:
// Print array's elements
val a = Array("Ana", "Maria", "Daniela")
a.foreach(println)

Ana
Maria
Daniela

#### Scala has several classes to work with collections. Most of them are "traversable" and "iterable"
We may divide this set in three subsets:
* Seq
* Set
* Map
> By another hand, some classes comes in two flavours: mutables and inmutables

We will choose some classes:
* Vector
* List
* HashSet (immutable)
* HashMap (immutable)

We also review **tuple**

### Vector and List are Seq
* **Vector** is an IndexedSeq
* **List** is a LinearSeq

In [30]:
// Vector
val v: Vector[Int] = Vector(1,2,3,4,5)
v

Vector(1, 2, 3, 4, 5)

In [34]:
// List creation
// list1 and list2 are equal, but list2 was created by prepending elements to the list (Nil is the empty list)
val list1 = List(1,2,3,4,5)
val list2 = 1 :: 2 :: 3 :: 4 :: 5 :: Nil

In [32]:
// There are several useful operations on Lists (similar to other collections)
// To concatenate two lists :::
List(1,3,5) ::: List(9,8,7)

List(1, 3, 5, 9, 8, 7)

In [38]:
// To return the element with a specific index (first element has index 0)
list1(2)

3

In [39]:
// Return the first element of a list
list1.head

1

In [44]:
// Return the rest of element of a list but the first one
// Please notice that: list1 == list1.head :: list2.tail
list1.tail

List(2, 3, 4, 5)

In [45]:
// Return the list without the first two elements (also there are the dropRigth() function)
list1.drop(2)

List(3, 4, 5)

In [46]:
// To filter the list: return sublist with elements that fullfils a condition
list1.filter(x => x%2==0)

List(2, 4)

In [51]:
// Make a string with elements of the list
list1.mkString(",")

1,2,3,4,5

In [50]:
// Return a transformed list
list1.map(x => Math.sqrt(x))

List(1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979)

In [52]:
// Execute an action on each element in the list
list1.foreach(x => println(x))

1
2
3
4
5

In [53]:
// Reverse the list
list1.reverse

List(5, 4, 3, 2, 1)

#### There are many other operations on lists ...

### Set and Maps

Set and Map can be mutable or immutable

In [8]:
// Set 
val div3 = Set(0,3,6,9)
val div2 = Set(0,2,4,6,8)
val div6 = div3.intersect(div2)
div6

Set(0, 6)

In [9]:
// Map
val romanNumeral = Map(1->"I", 2->"II", 3 -> "III", 4 -> "IV", 5 -> "V")
romanNumeral(3)

III

### Tuples

In [2]:
// Tuple is another container object 
// Are immutable and can contain different types of elements
// Fields in a tuple are accessing by: _1, _2, etc
val person = ("John", "USA", 45)
person._1

John